<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zimuzu.tv today update list</title>
</head>
<body>
<h1>剧集页面 </h1>
<h1 href="http://www.zimuzu.tv/resource/{{ data['m_id'] }}">{{ data['m_name'] }} </h1>


{% for season in data['season'] %}

    {% for fmt in data['season'][season] %}
    <h3>第 {{ season }} 季( {{ fmt }} )</h3>
    <div>
    <table border="1">
        {% for enp in data['season'][season][fmt] %}
            <!--{{ dl_name }} : {{ data['season'][season][fmt][dl_name] }}-->
            <tr>
                <td>{{ enp }}</td>
            {% for dl_name in data['season'][season][fmt][enp] %}
            <td><a href="{{ data['season'][season][fmt][enp][dl_name] }}">{{ dl_name }}</a></td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    </div>
    {% endfor %}

{% endfor %}



</body>
</html>