<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zimuzu.tv today update list</title>
</head>
<body>
<!--<h1>剧集页面 </h1>-->
<h1><a href="http://www.zimuzu.tv/resource/{{ data['m_id'] }}"> {{ data['m_name'] }}</a> </h1>

<div><table border="1">
    <tr>

    <td>season</td>
    <td>episode</td>
    <td>文件格式 </td>
    <td>文件名称</td>
    <td>下载地址</td>
    </tr>
{% for episode in data['episodes'] %}


    <tr>
    <td>{{ episode['m_season'] }}</td>
    <td>{{ episode['m_episode'] }}</td>
    <td>{{ episode['m_format'] }}</td>
    <td>{{ episode['m_title'] }}</td>

    {% for dl_name in episode['dl_ways'] %}
    <td><a href="{{ episode['dl_ways'][dl_name] }}">{{ dl_name }}</a></td>
    {% endfor %}
</tr>
{% endfor %}

</table></div>

</body>
</html>